{{ define "accesos.tmpl" }}
{
    "endpoint": "/api/v1/docs/acceso",
    "method": "GET",
    "output_encoding": "no-op",
    "backend": [
    {
        "url_pattern": "/docs",
        "encoding": "no-op",
        "sd": "static",
        "method": "GET",
        "host": ["{{ env `MS_ACCESO_URL` }}"]
    }
    ]
},
{
    "endpoint": "/api/v1/openapi/acceso.json",
    "method": "GET",
    "output_encoding": "no-op",
    "backend": [
    {
        "url_pattern": "/api/v1/openapi/acceso.json",
        "encoding": "no-op",
        "sd": "static",
        "method": "GET",
        "host": ["{{ env `MS_ACCESO_URL` }}"]
    }
    ]
},
{
    "endpoint": "/api/v1/accesos/enrolar",
    "method": "POST",
    "output_encoding": "no-op",
    "extra_config": {
        "auth/validator": {
            "alg": "RS256",
            "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
            "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
            "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
            "disable_jwk_security": true
    }
    },
    "backend": [{
        "url_pattern": "/api/v1/accesos/enrolar",
        "encoding": "no-op",
        "method": "POST",
        "host": ["{{ env `MS_ACCESO_URL` }}"],
        "extra_config": {
            "modifier/martian": {
            "header.Modifier": { "scope": ["request"], "name": "X-Internal-Secret", "value": "{{ env `INTERNAL_SECRET_TOKEN` }}" }
            }
        }
    }]
},
{
    "endpoint": "/api/v1/accesos/validar",
    "method": "POST",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [{
        "url_pattern": "/api/v1/accesos/validar",
        "encoding": "no-op",
        "method": "POST",
        "host": ["{{ env `MS_ACCESO_URL` }}"],
        "extra_config": {
            "modifier/martian": {
            "header.Modifier": { "scope": ["request"], "name": "X-Internal-Secret", "value": "{{ env `INTERNAL_SECRET_TOKEN` }}" }
            }
        }
    }]
}
{{ end }}