{{ define "auth.tmpl" }}
{
    "endpoint": "/api/v1/auth/health",
    "method": "GET",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/auth/health",
        "method": "GET",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/registrar",
    "method": "POST",
    "timeout": "15000ms",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/auth/registrar",
        "method": "POST",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/login",
    "method": "POST",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/auth/login",
        "method": "POST",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/verificar",
    "method": "POST",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/auth/verificar",
        "method": "POST",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/usuarios/{id_usuario}/rol",
    "method": "PATCH",
    "timeout": "15000ms",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/auth/usuarios/{id_usuario}/rol",
        "method": "PATCH",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/permisos",
    "method": "GET",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/permisos",
        "method": "GET",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/roles",
    "method": "GET",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/roles",
        "method": "GET",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/roles",
    "method": "POST",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/roles",
        "method": "POST",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/roles/{id_rol}",
    "method": "PATCH",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/roles/{id_rol}",
        "method": "PATCH",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/auth/roles/{id_rol}",
    "method": "DELETE",
    "output_encoding": "no-op",
    "extra_config": {
    "auth/validator": {
        "alg": "RS256",
        "jwk_url": "https://www.googleapis.com/service_accounts/v1/jwk/securetoken@system.gserviceaccount.com",
        "issuer": "https://securetoken.google.com/{{ env `FIREBASE_PROJECT_ID` }}",
        "audience": ["{{ env `FIREBASE_PROJECT_ID` }}"],
        "disable_jwk_security": true
    }
    },
    "backend": [
    {
        "url_pattern": "/api/v1/roles/{id_rol}",
        "method": "DELETE",
        "encoding": "no-op",
        "host": ["{{ env `MS_AUTH_URL` }}"],
        "extra_config": {
        "modifier/martian": {
            "header.Modifier": {
            "scope": ["request"],
            "name": "X-Internal-Secret",
            "value": "{{ env `INTERNAL_SECRET_TOKEN` }}"
            }
        }
        }
    }
    ]
},
{
    "endpoint": "/api/v1/docs/auth",
    "method": "GET",
    "output_encoding": "no-op",
    "backend": [
    {
        "url_pattern": "/docs",
        "encoding": "no-op",
        "sd": "static",
        "method": "GET",
        "host": ["{{ env `MS_AUTH_URL` }}"]
    }
    ]
}
{{ end }}